:root {
    --primary-bgcolor: linear-gradient(91.51deg, rgba(255, 255, 255, 0.02) -6.42%, rgba(255, 255, 255, 0.02) 100.57%);
    --light-grey: #CBCED6;
    --grey: #626C85;
    --primary-color: #1C64FE;
    --dark-grey: #313131;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
body, html {
    height: 100%;
    margin: 0;
}
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
.page-container:has(.home-page) .page,
.page-container:has(.hakkimizda-page),
.page-container:has(.kayit-page){
    background-image: url('/assets/images/bg-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
header {
    background: var(--primary-bgcolor);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
    z-index: 66;
    border: 1px solid rgba(7, 34, 55, 0.5);
    border-radius: 40px;
}
.navbar {
    padding: 0;
}
.navbar-toggler {
    z-index: 10000;
}
.fs-32 {
    font-size: 32px;
}
.lh-34 {
    line-height: 34.24px;
}
.fs-18 {
    font-size: 18px;
}
.lh-34 {
    line-height: 23.22px;
}
.lh-19 {
    line-height: 19.5px;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-20 {
    font-size: 20px;
}
.fs-40 {
    font-size: 40px;
}
.padding18-24 {
    padding: 18px 24px;
}
.me-24 {
    margin-right: 24px;
}
.pe-18 {
    padding-right: 18px;
}
.max-w560 {
    max-width: 560px;
}
.hero-banner {
    background: url("../assets/images/hero.png") center no-repeat;
    background-size: cover;
    height: 800px;
    margin-bottom: -10px;
    z-index: 3333;
}
.page-container:has(.home-page) .hero-banner video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.page-container:has(.home-page) .video-filter video {
    filter: brightness(40%);
}
.video-filter::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}
.nav-item {
    width: max-content;
}
.button-outline {
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 14px 24px;
    color: white;
    font-weight: 600;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 30 30%22%3E%3Cpath stroke=%22white%22 stroke-linecap=%22round%22 stroke-miterlimit=%2210%22 stroke-width=%222%22 d=%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E');
}
.nav-underline {
    opacity: 0;
    text-align: center;
}
.nav-item:hover .nav-underline,
.nav-item.active .nav-underline {
    opacity: 1;
    margin-top: -17px;
}
.nav-item.active a,
.nav-item:hover a {
    font-weight: bold !important;
}
.nav-item {
    height: 50px;
}
.nav-item a {
    position: relative;
    display: block;
}
.nav-underline img {
    width: max-content !important;

}
.text-underline {
    text-decoration: underline;
    font-family: Raleway;
}
.text-lgrey {
    color: var(--light-grey);
}
.text-grey {
    color: var(--grey);
}
.text-blue {
    color: var(--primary-color);
}
.text-dgrey {
    color: var(--dark-grey);
}
.hero-text-container {
    margin-top: 105px;
    z-index: 44;
    position: relative;
}
.hero-content h1 {
    line-height: 42.8px;
}
.font-raleway {
    font-family: 'Raleway';
}
.accordion-button {
    font-family: 'Montserrat';
}
.metric-value {
    font-size: 32px;
    line-height: 16.73px;
    text-align: center;
}
.metric-label {
    font-weight: 400;
    font-style: normal;
    line-height: 21.4px;
    text-align: center;
}
.metrics-container {
    background: var(--primary-bgcolor);
    border-radius: 60px;
    padding: 24px 34px;
    position: relative;
    margin: 0 auto;
    max-width: 895px;
    width: 100%;
    box-shadow: 0px 8px 20px 5px #00000026;
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(5px);
    height: 140px;
    bottom: -157px;
    z-index: 22;
}
.line {
    flex: 1;
}
footer {
    background: var(--primary-bgcolor);
    box-shadow: 0px 8px 20px 5px #00000026;
    backdrop-filter: blur(19px);
    position: relative;
    z-index: 22;
}
.footer-logo {
    width: 290px;
}
.footer-bottom {
    border-top: 1px solid rgba(98, 108, 133, 0.2);
}
.vonboarding-box {
    margin-top: 150px;
}
.letterSpace-45 {
    font-size: 36px;
    line-height: 37.44px;
    letter-spacing: 0.45em;
    color: #626C85;
}
.vonboarding-box button {
    font-size: 14px;
}
.bg-darklinear {
    background: var(--primary-bgcolor);
    box-shadow: 0px 8px 20px 5px #00000026;
    backdrop-filter: blur(19px);
    border-radius: 60px;
}
.radius-img {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}
.mt-150 {
    margin-top: 150px;
}
.mt-100 {
    margin-top: 100px;
}
.divider-img {
    margin-top: 110px;
    width: 5%;
}
.content-box.first {
    margin-top: -65px;
}
.content-box.second {
    margin-top: 255px;
}
.worl-side {
    bottom: 167px;
}
.worl-side img {
    height: 1160px;
}
.form-button {
    float: inline-end;
}
.accordion img {
    width: -webkit-fill-available;
    width: -moz-available;
}
/*ANİMASYON SAĞ-SOL İMAGES*/
.text-img .img-content {
    transform: translateX(150px);
    opacity: 0;
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(280px);
        opacity: 0;
    }
    100% {
        transform: translateX(150px);
        opacity: 1;
    }
}
.text-img .img-content.animate {
    animation: slideInFromRight 1s ease-out forwards;
}
.img-text .img-content {
    transform: translateX(-150px);
    opacity: 0;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-280px);
        opacity: 0;
    }
    100% {
        transform: translateX(-150px);
        opacity: 1;
    }
}
.img-text .img-content.animate {
    animation: slideInFromLeft 1s ease-out forwards;
}
.page-container:has(.blog-page) .hero-banner {
    background-color: #010102;
    background-image: url("/assets/images/blog-bg.png") !important;
    height: max-content;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.page-container:has(.blog-page) .hero-text-container,
.page-container:has(.blog-detail-page) .hero-text-container {
    margin-bottom: 90px;
}
.blog-page {
    background-color: #F0F0F2;
}
.blog-page h2 {
    margin-bottom: 50px;
}
.divi-img {
    height: 1100px;
    margin-top: 80px;
}
.text-user-color {
    color: #434550;
}
.text-date {
    color: #626C85;
}
.truncated-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 76px;
    line-height: 24px;
}
.popular-box img {
    height: 50px;
    width: 50px;
}
.social-media svg {
    height: 60px;
    width: 60px;
}
.page-container:has(.blog-detail-page) .hero-banner {
    background-image: url(/assets/images/blog-detail.png) !important;
    background-color: unset;
    background-position: bottom;
}
.page-container:has(.blog-detail-page) blockquote {
    border-left: 5px solid #1C64FE;
    border-radius: 5px;
}
.page-container:has(.blog-detail-page) .page {
    margin-top: -305px;
    z-index: 3333;
}
.page-container:has(.blog-detail-page) .user-info img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.avantaj-box.border-bottom {
    border-bottom: 1px solid #D1D1D1;
}
.dot-title {
    position: relative;
    padding-left: 10px;
}
.dot-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: #1C64FE;
    border-radius: 50%;
    box-shadow: 0px 4.51px 7.67px 0px #1DC76033;
}
.navbar {
    padding: 1rem 0;
}
.nav-link {
    position: relative;
    margin: 0 1rem;
    color: #000;
}
.copy-button {
    border: 1px solid #626C85;
    border-radius: 10px;
    padding: 8px 16px;
    background: white;
}
.max-content {
    width: max-content;
}
.max-w744 {
    max-width: 744px;
}
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    border: unset !important;
    background: unset !important;
}
.slick-prev {
    left: -40px;
}
.slick-next {
    right: -40px;
}
.slick-slide .bg img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}
.item.slick-slide.slick-active:not(.slick-center) {
    filter: blur(2px);
    transition: filter 0.3s ease-in-out;
}
.item.slick-slide.slick-active:not(.slick-center) svg circle {
    fill: white;
}
.item.slick-slide.slick-active:not(.slick-center) svg path {
    fill: #434550;
}
.item.slick-slide.slick-active:not(.slick-center) .continue-text {
    color: #434550;
}
.icon-auto {
    width: auto !important;
}
.slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.slick-dots li {
    margin: 0 5px;
}
.slick-dots li button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #EAEAFF;
    border: none;
    font-size: 0;
    text-indent: -9999px;
}
.slick-dots li.slick-active button {
    background-color: #1C64FE;
}
.slick .slick-list {
    padding: 20px 0 !important;
}
.slick-slide {
    outline: none
}
.slick .item .bg {
    height: fit-content;
    background-position: center;
    background-size: cover;
}
.slick .slick-center .bg {
    opacity: 1;
    position: relative;
    z-index: 4444;
    background-color: #FFFFFF;
    overflow: hidden;
}
.slide-content {
    border: 1px solid #eaeaff;
    border-top: unset;
    padding: 36px 24px;
    border-radius: 0px 0px 20px 20px;
}
.slick-center .img-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}
.slick-center .img-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: none;
    position: relative;
    z-index: 1;
}
.slick-center .img-container .img-overlay {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: rgba(98, 108, 133, 0.5);
    transition: left 0.3s ease-out, backdrop-filter 0.3s ease-out;
    z-index: 2;
}
.slick-center .img-container:hover .img-overlay {
    left: 0;
    background: rgba(98, 108, 133, 0.5);
}
.page-container:has(.hakkimizda-page) .hero-banner,
.page-container:has(.kayit-page) .hero-banner{
    background-image: unset !important;
    height: max-content;
}
.hakkimizda-box {
    box-shadow: 0px 2.81px 7.02px 1.75px #00000026;
    background: var(--primary-bgcolor);
    border-radius: 21.05px;
    max-width: 560px;
    padding: 50px;
    position: relative;
    height: 400px;
}
.hakkimizda-box img {
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 21.05px;
}
.circle-number {
    position: relative;
    width: 48px;
    height: 48px;
    background-image: url('/assets/images/circle-number.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #626C85;
}
.btn-primary:hover {
    background-color: rgba(28, 100, 254, 0.5);
}
/* Animasyon için basit fade-in ve slide efektleri */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.hidden-animation {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.show-animation {
    animation: fadeIn 0.8s forwards ease-out;
}
.hover-effect a:hover rect {
    fill: #626C85;
}
.hover-effect a:hover path {
    fill: #FFFFFF;
}
.hover-effect a:hover {
    color: #434550;
}
.black-footer a:hover {
    color: #FFFFFF;
}
input, textarea {
    --c: #1C64FE; /* the border color */
    --b: 2px; /* the border thickness*/
    --g: 20px; /* the gap on hover */
    --_g: #0000 25%, var(--c) 0;
    padding: calc(var(--g) + var(--b));
    background: conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0  /200% var(--_i, var(--b)) no-repeat,
    conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
    transition: .2s, background-position .2s .2s;
    cursor: pointer;
}
input:focus, textarea:focus {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
    border-radius: 10px;
}
/*home page logo marquee*/
.logo-container {
    display: flex;
    width: 200%; /* Make it twice as wide to create seamless loop */
    animation: scroll 40s linear infinite;
    background: linear-gradient(91.51deg, rgba(255, 255, 255, 0.01) -6.42%, rgba(255, 255, 255, 0.01) 100.57%);;
}
.logo-item {
    flex: 0 0 auto;
    width: 10%; /* Adjust based on the number of logos */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.logo-item img {
    background: rgba(11, 22, 49, 1);
    width: 200px;
    border-radius: 55px;
    height: 135px;
    padding: 20px;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
@media screen and (min-width: 2000px){
    .logo-item {
        width: 5.5%;
    }
}
@media  (min-width: 1800px) and (max-width: 1999px){
    .logo-item {
        width: 6.5%;
    }
}
@media (min-width: 1400px) and (max-width: 1799px){
    .logo-item {
        width: 8.5%;
    }
}
@media screen and (min-width: 1400px) {
    .max-w1140 {
        max-width: 1140px;
        padding-left: 0;
        padding-right: 0;
    }
    .w1140 {
        width: 1140px;
    }

    .fs-42 {
        font-size: 42px;
    }
}
@media (min-width: 1201px) {
    header {
        border-radius: 100px;
    }

    header nav {
        height: 100px;
    }
}

@media (max-width: 1200px) {
    .logo-item {
        width: 12.5%;
    }
}

@media (min-width: 992px) {
    .pl-90 {
        padding-left: 90px !important;
    }

    .custom-row {
        display: flex;
        flex-wrap: nowrap;
    }

    .left-column, .right-column {
        flex: 1;
    }

    .left-column {
        margin-right: 40px;
    }

    .max-w336 {
        max-width: 336px;
    }

    .max-w457 {
        max-width: 457px;
    }

    .max-w495 {
        max-width: 495px;
    }

    .max-w678 {
        max-width: 678px;
    }

    .mobile-show {
        display: none;
    }

    .desktop-show {
        display: flex;
    }
}

@media (max-width: 992px) {
    .nav-link::after {
        display: none;
    }

    .logo-item {
        width: 16.666%;
    }

    .nav-underline {
        display: none;
    }

    .hakkimizda-box {
        padding: 32px;
    }

    .mt-150 {
        margin-top: 75px;
    }

    .worl-side img {
        opacity: 10%;
    }

    .mobile-show {
        display: block;
    }

    .desktop-show {
        display: none;
    }

    .last-line {
        display: none;
    }

    .last-title {
        margin-top: 30px;
    }

    .mt-100 {
        margin-top: 65px;
    }
}

@media (min-width: 769px) and  (max-width: 992px ) {
    .fs-16 {
        font-size: 14px;
    }

    .divider-img {
        margin-top: 0px;
    }

    .content-box.first {
        margin-top: 40px;
    }

    .content-box.second {
        margin-top: 0px;
    }

    .text-img .img-content {
        transform: unset;
    }

    .img-text .img-content {
        transform: unset;
    }
}

@media (min-width: 769px) {
    .slick .item .bg {
        height: 475px;
        margin: 0 -40px;
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
        transition: all 0.3s ease-in-out;
    }

    .slick .slick-center .bg {
        opacity: 1;
        -webkit-transform: scale3d(1.0, 1.0, 1);
        position: relative;
        z-index: 4444;
        background-color: #FFFFFF;
    }
}

@media (max-width: 768px ) {
    .metrics-container {
        height: max-content;
    }

    .hero-text-container {
        padding: 0 16px;
    }

    .logo-item {
        width: 20%;
    }

    .logo-container {
        animation-duration: 15s;
    }

    .accordion {
        padding: 30px;
    }

    .hero-banner video {
        display: none;
    }

    .text-img .img-content,
    .img-text .img-content {
        transform: unset !important;
    }

    .divider-img {
        margin-top: 0px;
    }

    .content-box.first {
        margin-top: 40px;
    }

    .content-box.second {
        margin-top: 0px;
    }

    .letterSpace-45 {
        font-size: 28px;
    }

    footer span.mx-4 {
        display: none;
    }

    .user-info {
        font-size: 12px;
    }

    .slick-next {
        right: -40px;
    }

    .slick-prev {
        left: -40px;
    }
}

@media (max-width: 576px) {
    main {
        padding: 0 16px;
    }

    .logo-item {
        width: 30%;
    }

    .logo-container {
        animation-duration: 10s;
    }

    .page-container:has(.hakkimizda-page) main {
        padding: 0 28px !important;
    }

    .hero-banner {
        height: max-content;
    }

    .metrics-container {
        bottom: -69px;
    }

    .letterSpace-45 {
        font-size: 25px;
    }

    .resp-box {
        flex-direction: column;
    }

    .resp-box img {
        margin-right: 0 !important;
        margin-bottom: 20px;
    }

    .blog-page h2 {
        margin-bottom: 25px;
    }

    .mt-100 {
        margin-top: 50px;
    }

    .hero-content h1 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 2rem !important;
    }

    .hero-text-container {
        margin-top: 75px;
    }

    .article-box div.ms-3 {
        margin-left: unset !important;
    }

    .user-info img {
        margin-bottom: unset;
        margin-right: 10px !important;
    }

    .social-media {
        justify-content: center !important;
        margin-right: 30px;
        gap: unset !important;
    }

    .page-container:has(.blog-detail-page) .hero-banner {
        background-image: url("/assets/images/blog-bg.png") !important;
    }

    .page-container:has(.blog-detail-page) .page {
        margin-top: 30px;
    }

    .page-container:has(.blog-detail-page) span.ms-5 {
        margin-left: 0 !important;
    }

    .page-container:has(.blog-detail-page) blockquote p {
        font-size: 24px;
    }

    .slick-next,
    .slick-prev {
        display: none !important;
    }

    .page-container:has(.blog-detail-page) .user-info img {
        width: 64px;
        height: 64px;
        object-fit: contain;
    }

    .page-container:has(.blog-detail-page) .text-user-color {
        font-size: 18px;
    }

    .vbutton-container {
        flex-direction: column;
    }

    .vbutton-container button,
    .resp-with100,
    .form-button {
        width: 100%;
        margin-right: unset;
        margin-bottom: 30px;
    }
}

@media (max-width: 400px) {
    .logo-item {
        width: 45%;
    }
}

#togglePassword{
    top: 35px;
    right: 5px;
}
.disabled-button{
    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.5);
    background: rgba(16, 56, 143, 0.22);
    opacity: 0.30 !important;
}

.progress-container {
    position: relative;
}

.step-text {
    color: #575A61;
    width: max-content;
}

.progress-bar-container {
    position: relative;
    margin-top: 10px;
    height: 20px;
}

.progress-line {
    position: absolute;
    top: 2px;
    left: 0px;
    width: calc(100% - 6px);
    height: 2px;
    background-color: #575A61;
    z-index: 0;
}

.progress-line .progress-line-active {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--primary-color);
}

.progress-dots {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.dot {
    width: 6px;
    height: 6px;
    background-color: #ccc;
    border-radius: 50%;
    z-index: 1;
}

.step.active .step-text {
    color: #FFFFFF;
    font-weight: bold;
}

.dot.active {
    background-color: var(--primary-color);
}